body {
    background-color: aquamarine;
    text-align: center;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: stretch;
    background-color: lightgreen;
    gap: 5px;
}

.grid-item{
    display: grid;
    background-color: #1e96ff ;
    align-items: center;
    color: #fff;
    text-align: center;
    height: 60px;
}